@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;

  width: 100%;
  height: 100%;
  background-size: cover;
}

ul {
  list-style: none;
}

.join-container {
  width: 500px;
  height: 300px;
  margin: auto;
  margin-top: 100px;
  background-color: rgb(186, 230, 129);
}

.join-header {
  text-align: center;
  padding: 20px;
}

/* .join-main {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-description {
  margin: auto;
  padding: 50px;
  text-align: center;
}

.app-description span {
  font-style: italic;
}

.app-description p {
  margin-top: 30px;
}

/* ########################################## 

LOBBY

*/

.lobby-heading {
  text-align: center;
  margin: 100px 0;
}

.lobby-container {
  margin: auto;
  background-color: lightgrey;
  width: 80%;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: baseline;
}

.lobby-details {
  width: 350px;
  padding: 50px;
  margin: 20px;

  background-color: rgb(185, 152, 236);
}

.lobby-details li {
  margin: 10px;
  list-style: none;
}

.lobby-details:hover {
  cursor: pointer;
}

.app-content-container {
  margin: auto;
  margin-top: 50px;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: 30px;
}

#drawArea {
  /* display: block; */

  width: 100%;
  height: 100%;
  border: solid 3px darkblue;
  border-radius: 10px;
  border-style: groove;
  background-color: rgba(255, 255, 255, 0.65);
}

.controlPanel {
  display: flex;
  /* width: 10%; */
  flex-direction: column;
  /* justify-content: space-between; */
}

.controlPanel > div,
button {
  cursor: pointer;
  margin: 20px 0;
}

.lineWidth-panel {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: baseline;
}

.lineWidth-panel :nth-child(1) {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: black;
}

.lineWidth-panel :nth-child(2) {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: black;
}

.lineWidth-panel :nth-child(3) {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: black;
}

.draw-message-container {
  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: column;
  margin: 0 30px;
}

.messages-container {
  padding: 30px;
  border-radius: 10px;
  width: 40%;
  height: 100%;
  background-color: rgb(37, 2, 49);
  overflow-y: scroll;
}

button {
  width: 100px;
  height: 50px;
  background-color: lavender;
  border-style: none;
}

#ready-btn {
  background-color: greenyellow;
}

.chat-form-container {
  /* height: 10%; */
  margin: 10px 0;
}

.chat-form-container form {
  display: flex;
  align-items: baseline;
}

.chat-form-container input[type="text"] {
  font-size: 16px;
  padding: 5px;
  height: 40px;
  flex: 1;
}

.messages-container .message {
  padding: 10px;
  margin-bottom: 15px;
  background-color: rgb(255, 234, 46);
  border-radius: 5px;
  word-wrap: break-word;
}

.messages-container .message .meta {
  font-size: 15px;
  font-weight: bold;
  color: black;
  opacity: 0.7;
  margin-bottom: 7px;
}

.messages-container .message .meta span {
  color: #777;
}
